<!doctype html>
<html>
   <head>
      <title>Normalization Checker Tool For Relational Databases</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
   </head>
   <body>
      <h1>
         <center>About</center>
      </h1>
      <hr>
      </hr>
      <br><br>
      <div class="about">
         <p> &nbsp; &nbsp; &nbsp; &nbsp;  Our Normalization Automated tool helps in the process of automating 
            the relational database schema normalization up to BCNF form. This tool mainly concentrates on addressing the legacy system issues
            where we will be unaware of the physical design behind the system. The tool can handle the below Normal Forms and 
            also helps you to identify the functional dependencies for the Legacy systems. 
         </p>
         <ul class="norm">
            <li>Functional Dependencies for Legacy Systems</li><br/>
            <li>First Normal Form (1NF)</li><br/>
            <li>Second Normal Form (2NF)</li><br/>
            <li>Third Normal Form (3NF)</li><br/>
            <li>Boyce-Codd Normal Form (BCNF)</li><br/>
         </ul>
      </div>
      <p>&nbsp; &nbsp; &nbsp; &nbsp;  </p>
      <br/><br/>
   </body>
</html>