<!doctype html>
<html>
   <head>
      <title>Normalization Checker Tool For Relational Databases</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
   </head>
   <body>
      <h1>
         <center>Normalization Checker Tool For Relational Databases</center>
      </h1>
      <hr>
      </hr>
      <br><br>
      <right>
         <ul class="sidenav">
            <br>
            <li>
               <a href="Home" target="if1">Home
               <span>Database normalization is the process of structuring a relational database</span>
               </a>
            </li>
            <li><br>
               <a href="About" target="if1">About
               <span>Tool for automating the relational database schema normalization process</span>
               </a>
            </li>
            <li><br>
               <a href="fdhome" target="if1">Legacy System - Functional Dependency (FD)
               <span>Identifying the functional dependecies for the Legacy Systems</span>
               </a>
            </li>
            <li><br>
               <a href="1NF" target="if1">First Normal <br>Form (1NF)
               <span>Removing the Repeating Groups</span>
               </a>
            </li>
            <li><br>
               <a href="2NF" target="if1">Second Normal Form (2NF)
               <span>Removing the Partial Dependencies</span>
               </a>
            </li>
            <li><br>
               <a href="3NF" target="if1">Third Normal Form (3NF)
               <span>Removing the Transitive Dependencies</span>
               </a>
            </li>
            <li><br>
               <a href="BCNF" target="if1">BCNF
               <span>Removing remaining functional dependency anomalies</span>
               </a>
            </li>
            <li><br>
               <a href="Readme" target="if1">Read Me
               <span>How to Use this Tool? </span>
               </a>
            </li>
            <br>
         </ul>
      </right>
      
      <left>
         <iFrame src="Home" name="if1">
         </iframe">
      </left>
   </body>
</html>